spring:
  application:
    name: forecast-service
  profiles:
    active: dev

  datasource:
    url:
    username:
    password:
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true

mybatis:
  mapper-locations: classpath:/mapper/**/*.xml
  type-aliases-package: com.stock.forecast_service
  configuration:
    map-underscore-to-camel-case: true