spring:
  application:
    name: forecast-service
  profiles:
    active: dev

  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100
    open-in-view: false # 지연로딩 실수 방지

mybatis:
  mapper-locations: classpath:/mapper/**/*.xml
  type-aliases-package: com.stock.forecast_service
  configuration:
    map-underscore-to-camel-case: true